/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    height: 100%;
    overflow: auto;
    padding-top: 44px;
  }
  .navbar-custom { 
    background-color: #2d3ead; 
} 
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: white; 
} 
.herotext{
   
    color: white;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    
}
.herotext h1{
    font-size:80px;
    
}
.navl{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: white !important; 
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
  .logot{
      color: #d1a906;
  }
  .til{
    color: gold;
}
.jumbotron {
    background-image: url(/construction/assets/images/con1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 1100px;
   }
   .black-overlay{
    position: absolute;
    top: 0px;
    left:0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.jumbotron > .inner {
    position: relative;
    z-index: 2;
}
.space{
    height: 50px;
}
.inspo-quote h1{
    font-family: 'Oswald', sans-serif;
    font-size:28px
 
}
.section-2{
    font-family: 'Oswald', sans-serif;
    /* height: 1000px; */
 
}
.section-3{
    font-family: 'Oswald', sans-serif;
    /* height: 980px; */
 
}
.section-4{
    font-family: 'Oswald', sans-serif;
/* height: 1000px; */

}
.carousel .item {
    height: 200px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 200px;
  }
.w{
    font-size:20px ;
}
@media only screen and (max-width: 375px) {
.jumbotron{
    height: 816px;
}
.herotext h1{
    font-size:55px;
    
}
#ahead{
    font-size: 30px;
}


}

